@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
	overflow-y: auto;
}

@font-face {
	font-family: 'Figtree';
	src: url('/fonts/Figtree-VariableFont_wght.ttf');
}
